@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: .5rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a, a:visited, a:active {
  color: #909090;
  text-decoration: none;
}

ul {
  list-style: none;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left-links, .right-links {
  display: flex;
  gap: 1rem;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
